extends layout
block stylesheets
  link(rel='stylesheet', href='/stylesheets/flat-ui.css')
  link(rel='stylesheet', href='/stylesheets/admin.css')
block scripts
  script(src='/javascripts/index.js')
block navbar
  include includes/admin/navbar
block content
  .container-fluid.mainContent
    div.row-fluid
      h1 Dashboard
      .span6
        h3 RSVP
        p Total Number of People Invited: #{totalInvited}
        p Number Accepted: #{totalComing}
        p Number of People Coming: #{totalGuests}
        p Number Declined: #{totalDeclined} 
        p Number Unresponded: #{totalUnresponded}
      .span3
        h3 Registry
        p Number Purchased: #{boughtCount}
        p Number Unpurchased: #{unboughtCount}
        p Total Money Gifted: $#{totalBought}
        p Total Money Asking For: $#{rsvpTotal}
