extends layout

block content
  .container-fluid.mainContent
    div.row-fluid
      h2 Admin Table of Contents 
      a(href='rsvpadmin') RSVP Admin Screen
      br
      a(href='registryadmin') Registry Admin Screen
      br 
      a(href='menuadmin') Menu Admin Screen
      br
    div.row-fluid
      h2 Dashboard
      .span6
        h3 rsvp 
        p Number Accepted: #{totalComing}
        p Number of People Coming: #{totalGuests}
        p Number Declined: #{totalDeclined} 
        p Number Unresponded: #{totalUnresponded}
      .span3
        h3 Registry
        p Number Purchased: #{boughtCount}
        p Number Unpurchased: #{unboughtCount}
        p Total Money Gifted: $#{totalBought.toFixed(2)}
        p Total Money Asking For: $#{rsvpTotal.toFixed(2)}
