extends layout
block content
  ul#RegistryContents.thumbnails
    - each item in items
      li.span3
        .thumbnail
          form(action="/charge", method="post").form-horizontal
            fieldset
              legend #{item.name}
              p #{item.description}
              em $#{item.price}
              .control
                script(
                src="https://checkout.stripe.com/v2/checkout.js",
                class="stripe-button",
                data-key='#{publicKey}',
                data-amount='#{item.price}',
                data-name="Wedding Registry",
                data-description='#{item.name}'
                )


