p Until I get image resizing working make sure the image is small enough to fit as a registry item
//-form(action='http://wedxpress.s3.amazonaws.com/', method='post', enctype='multipart/form-data', id='upload#{item._id}')
//-  input(type='hidden', name='key', value='${filename}')                                            ---
//-  input(type="hidden", name='AWSAccessKeyId', value='#{AWSAccessKeyId}')
//-  input(type="hidden", name="success_action_redirect", value="http://localhost/")
//-  input(type="hidden", name="acl", value="private")
//-  input(type="hidden", name="policy", value="#{policy}")
//-  input(type="hidden", name="signature", value="#{signature}")
//-  input(type="hidden", name="Content-Type", value="#{contenttype}")
//-  input(type="hidden", name="policy")
//-  input(type="file", name="file", id='file')
//-  input(type="submit", name="submit", id='btn').btn



