table.table.table-hover.table-condensed
  thead
    tr
      th Name
      th Invites
      th Url
      th Actions
  tbody
    - each invite in inviteList
      tr
      th #{invite.name}
      th #{invite.invites}
      th calvinandamy.ca/#{invite.url}
      th
        .btn-group
          a(href='/invite/edit/', data-id='#{invite._id}').btn#editInvite Edit
          a(href='/invite/delete/#{invite._id}').btn
            i.icon-remove
