table.table.table-hover.table-condensed
  thead
    tr
      th Name
      th Description
      th Price
      th File
      th Actions
  tbody
    - each item in items
      tr
        th #{item.name}
        th #{item.description}
        -var price = item.price / 100;
        th #{price.toFixed(2)}
        th
          if (item.image === undefined)
            input(type="file", id='fileupload#{item._id}', data-id='#{item._id}', name="file").btn.fileupload
          else
            a(href='#{item.image.location}')
              p(title="<img src='#{item.image.location}' width='100' height='100'>", class='tooltipster') Image View Full Size
        th
          .btn-group
            a(href='about:blank', data-id='#{item._id}').btn.editRegItem Edit
            a(href='/registry/copy/#{item._id}').btn Copy
            a(href='/registry/delete/#{item._id}').btn
              i.icon-remove
