table.table.table-hover.table-condensed
  thead
    tr
      th Name
      th Description
      th Price
      th File
      th Actions
  tbody
    - each item in items
      tr
        th #{item.name}
        th #{item.description}
        th #{item.price}
          th
            a(data-target='#modal#{item._id}', data-toggle='modal').btn#uploadImage Upload Image
            div(id='modal#{item._id}', data-remote='./upload/#{item._id}').modal.hide.fade
              .modal-header
                h3 Upload an Image for this registry Item
              .modal-body
              .modal-footer
                a(href='#', data-dismiss='modal').btn Cancel
        th
          .btn-group
            a(href='about:blank', data-id='#{item._id}').btn#editRegItem Edit
            a(href='/registry/delete/#{item._id}').btn
              i.icon-remove
