table.table.table-hover.table-condensed
  thead
    tr
      th Name
      th Description
      th Price
      th File
      th Actions
  tbody
    - each item in items
      tr
        th #{item.name}
        th #{item.description}
        th #{item.price}
        th
          input(type="file", id='fileupload#{item._id}', data-id='#{item._id}', name="file").btn.fileupload
        th
          .btn-group
            a(href='about:blank', data-id='#{item._id}').btn#editRegItem Edit
            a(href='/registry/delete/#{item._id}').btn
              i.icon-remove
