p Coming : #{coming}
  - console.log(guests)
  each guest in guests
    - console.log(guest)
    h3 #{guest.name}
    p Special Requirements :
      - guest.specialRequirements || "None"
    h4 Menu
    p Appetizer: #{guest.menu.Appetizer}
    | Entree: #{guest.menu.Entree}
    | Dessert: #{guest.menu.Dessert}
    hr
