.invite
  .control-group
    label(for='name').control-label Name:
    .controls
      input(type='text', name='invite-name').invite-name
  .meal-choice
    .control-group
      label.control-label Appetizer
      .controls
        each item in menu.appetizer
          label.radio.inline #{item.name}
            input(type='radio', name='appetizer', value='#{item.name}')
    .control-group
      label.control-label Entree
      .controls
        each item in menu.entree
          label.radio.inline #{item.name}
            input(type='radio', name='entree', value='#{item.name}')
    .control-group
      label.control-label Dessert
      .controls
        each item in menu.dessert
          label.radio.inline #{item.name}
            input(type='radio', name='dessert', value='#{item.name}')
    .control-group
      label.control-label Special Requirements
      .controls
        label.checkbox Yes
          input(type='checkbox', name='special')
    .control-group
      label.control-label I am:
      .controls
        input(type='input', name='requirement')
