.row
  form(action='/rsvp/#{invite._id}', method='post').form-horizontal.offset2.span8.bgwhite
    legend RSVP
    .invite
      .control-group
        label(for='name').control-label Name:
        .controls
          input(type='text', name='invite-name-main', value='#{invite.name}').invite-name
      .meal-choice
        .control-group
          label(for='requirement-main').control-label Special Requirements
          .controls
            input(type='text', name='requirement-main')
        each menuItem in menu
          .control-group
            label.control-label #{menuItem.name}
            .controls
              each course in menuItem.courses
                label.radio #{course}
                  input(type='radio', name='#{menuItem.name}-main', value='#{course}')
    .control-group
      label().control-label RSVP
      .controls
        label.radio Accept
          input(type='radio', name='rsvp', value='accept')
        label.radio Decline
          input(type='radio', name='rsvp', value='decline')
    .control-group
      label(for='song').control-label Suggest a Song:
      .controls
        input(type='text', name='song').song
    hr
    - for (var i = 0; i < invite.invites; i ++) {
    .guest
      .invite
        h3 Guest
        .control-group
          label(for='name').control-label Name:
          .controls
            input(type='text', name='invite-name-#{i}', ).invite-name
        .meal-choice
          .control-group
            label(for='requirement-#{i}').control-label Special Requirements
            .controls
              input(type='text', name='requirement-#{i}')
          each item in menu
            .control-group
              label.control-label #{item.name}
              .controls
                each course in item.courses
                  label.radio #{course}
                    input(type='radio', name='#{item.name}-#{i}', value='#{course}')
      hr
    -}
    button(type='submit').btn.btn-block.btn-primary Submit

